#titulo {
  font-weight: 200;
}
.top20 {
  margin-top: 20px;
}
#btnSalvar {
  width: 180px;
  margin-right: 10px;
}
#btnCancelar {
  width: 180px;
}
#input-numero {
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
}
#input-ano {
  width: 70px;
  margin-left: 5px;
}
#input-valor {
  width:  150px;
}
#ultimo-num {
  color: red;
}
.inputs-numero {
  float: left;
}
