<div class="container alturaMinima bg-color">

  <h5>E-mails que receberam os alertas</h5>

  <hr />
  <button type="button" class="btn btn-sm btn-primary" (click)="novoEmailAlerta()">
     <i class="fa fa-plus-circle" aria-hidden="true"></i>
    Adicionar E-mail
  </button>

  <hr />
  <div class="row" *ngIf="emails?.length == 0">
    <div class="col-12">
       <h5 class="text-danger">NENHUM REGISTRO ENCONTRADO</h5>
    </div>
  </div>

  <div class="tabela" *ngIf="emails?.length > 0">
      <p-table [value]="emails" [responsive]="true">
          <ng-template pTemplate="caption">
             E-mails que receberam alertas
          </ng-template>
          <ng-template pTemplate="header">
              <tr>
                  <th>E-mail</th>
                  <th class="col-acao center">Ações</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-e >
              <tr>
                  <td>{{ e.email}}</td>
                  <td class="col-acao center">

                    <button type="button" pTooltip="Editar E-mail" tooltipPosition="left"
                        class="btn btn-sm btn-warning" id="btn-edit" (click)="editarEmailAlerta(e.id)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                    <button type="button" pTooltip="Excluir E-mail" tooltipPosition="left"
                        class="btn btn-sm btn-danger" (click)="excluirEmailAlerta(e)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>

                  </td>
              </tr>
          </ng-template>
      </p-table>

  </div>

<hr />
  <!-- fecha container -->
</div>


<div *ngIf="load" class="loadcss">
  <img src="./../../../assets/img/load2.gif">
</div>
