
.cor-novo {
  background-color: rgb(203, 222, 247);
}
.cor-edit {
  background-color: rgb(243, 236, 176);
}
#titulo {
  font-weight: 300;
}

#obsf {
  width: 100% !important;
}
.btnOp {
  width: 120px;
  margin-right: 15px;
}
.color-red {
  color: red;
}
.col-op {
  width: 70px;
  text-align: center;
}








@media screen and (min-width: 900px) {
  .container-cad-edit-fornecedor {
    width: 88%;
    margin: 0 auto;
    padding: 30px;
  }

}



@media screen and (min-width: 768px) and (max-width: 899px) {
  .container-cad-edit-fornecedor {
    width: 98%;
    margin: 0 auto;
    padding: 5px;
  }

}

@media screen and (max-width: 767px) {

  .container-cad-edit-fornecedor {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
  }
}
