
<div class="container-custom alturaMinima">


    <div class="fontsm painel-principal" *ngIf="auth.temQualquerPermissao(['ROLE_ADMIN', 'ROLE_LICENCA'])" >
        <div class="lic sub-painel">
        <a href="javascript:;" [routerLink]="['/licenca-filtro']" [queryParams]="{param: 'todas'}" class="link-dash">
            <label><i class="fa fa-clone" aria-hidden="true"></i>
              Total de Licenças:
              <span class="ret">{{ dash.tLicencas }}</span>
            </label>
         </a>
        </div>
        <div class="lic sub-painel" >
          <a href="javascript:;" [routerLink]="['/licenca-filtro']" [queryParams]="{param: 'vencendo'}"  class="link-dash">
            <label><i class="fa fa-clone" aria-hidden="true"></i>
              Licenças com até 160 para vencer:
              <span class="ret">{{ dash.licencasVaiVencer }}</span>
            </label>
          </a>
        </div>
        <div class="lic sub-painel" >
            <a href="javascript:;" [routerLink]="['/licenca-filtro']" [queryParams]="{param: 'alerta'}"  class="link-dash">
              <label><i class="fa fa-clone" aria-hidden="true"></i>
                Licenças em Alerta:
                <span class="retvenc">{{ dash.tLicencasAlerta }}</span>
              </label>
            </a>
        </div>
        <div class="lic sub-painel" >
            <a href="javascript:;" [routerLink]="['/licenca-filtro']" [queryParams]="{param: 'vencidas'}"  class="link-dash">
              <label><i class="fa fa-clone" aria-hidden="true"></i>
                Licenças Vencidas:
                <span class="retvenc">{{ dash.licencasVencidas }}</span>
              </label>
            </a>
        </div>
    </div>

    

    <div class="painel-principal" *ngIf="auth.temQualquerPermissao(['ROLE_ADMIN', 'ROLE_PRAZO'])">
       <div class="sub-painel">
         <a href="javascript:;" [routerLink]="['/prazos/filtro']" [queryParams]="{param: 'vencido'}" class="link-dash">
          <label class="lb-prazo">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
            Prazos Vencidos: <span class="colorred"> {{ dash.tprazosVencidos }}</span>
          </label>
        </a>
       </div>
       <div class="sub-painel">
        <a href="javascript:;" [routerLink]="['/prazos/filtro']" [queryParams]="{param: 'vencendo'}" class="link-dash">
        <label class="lb-prazo">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          Prazos perto de vencer: <span style="color: black;"> {{ dash.tprazosVencer }}</span>
        </label>
      </a>
      </div>
      <div class="sub-painel">
        <a href="javascript:;" [routerLink]="['/prazos/filtro']" [queryParams]="{param: 'alerta'}" class="link-dash">
        <label class="lb-prazo">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          Prazos em Alerta: <span class="colorred"> {{ dash.tprazosAlerta }}</span>
        </label>
      </a>
      </div>
    </div>


 
   <div class="row painel">

     <div class="col-12 center">
        <button type="button" class="btn btn-sm btn-primary btn-p" id="btn-novo-cliente" (click)="novoCliente()" >
          <i class="fa fa-user-plus" aria-hidden="true"></i>
          Novo Cliente
        </button>

          <button type="button" class="btn btn-sm btn-primary btn-p" id="btn-nova-os" (click)="novaOs()">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Nova O.S.
          </button>

          <button *ngIf="auth.temQualquerPermissao(['ROLE_ADMIN'])"
            type="button" class="btn btn-sm btn-success btn-p" id="btn-novo-lancamento" (click)="novoLancamento()">
            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
             Lançamento
          </button>

          <button *ngIf="auth.temQualquerPermissao(['ROLE_ADMIN'])"
                  type="button" class="btn btn-sm btn-success btn-p" id="btn-recebimento" (click)="recebimento()">
              <i class="fa fa-money" aria-hidden="true"></i>
              Recebimento
          </button>

          <button *ngIf="auth.temQualquerPermissao(['ROLE_ADMIN'])"
               type="button" class="btn btn-sm btn-danger btn-p" id="btn-despesa" (click)="despesa()">
               <i class="fa fa-money" aria-hidden="true"></i>
              Despesa
          </button>


      </div>
    </div>

   <hr />

   <div class="row">
      <div class="col-12 center">
        <div class="painel" style="margin-top: 10px; justify-content: center;">
          <h4 id="titulo-tarefas" >TAREFAS DOS TÉCNICOS:</h4>
        </div>
      </div>
   </div>

   <div class="tarefas-tecnicos painel2" *ngFor=" let tec of tarefasDTO" >

    <div class="tarefa-line tecnico-nome">
      <button type="button" class="btn btn-sm btn-primary" id="btn-add-tarefa" (click)="modoAdicionarTarefa(tec.tecnico)"
        pTooltip="Adiciona uma nova tarefa para este técnico." tooltipPosition="right" [disabled]="modoEditLembrete || modoEditTarefa" >
        <i class="fa fa-plus" aria-hidden="true"></i>
          Tarefa
      </button>
      <button type="button" class="btn btn-sm btn-primary" (click)="modoAdicionarLembrete(tec.tecnico)"
         pTooltip="Adiciona lembrete." tooltipPosition="right" [disabled]="modoEditLembrete || modoEditTarefa">
        <i class="fa fa-plus" aria-hidden="true"></i>
          Lembrete
      </button>
       <div id="div-nome-tecnico">TÉCNICO: {{ tec?.tecnico?.nome }}</div>
    </div>

    <hr />
    <h6 class="h6-tecnicos">LEMBRETES: ({{ tec?.lembretes?.length }})</h6>
        <!-- lista de lembretes -->
        <ul id="ul-lembrete" *ngIf="mostrarLembrete">
            <li  *ngFor="let lb of tec?.lembretes">

              <div  (click)="modoEditarLembrete(lb)">{{ lb.descricao }}</div>
              <span  id="span-remove" (click)="excluirLembrete(lb)"><i class="fa fa-trash-o" aria-hidden="true"></i></span>

            </li>
        </ul>

    <hr />
    <h6 class="h6-tecnicos">TAREFAS: ({{ tec?.tarefas?.length }})</h6>
    <!-- lista de tarefas -->
     <ul *ngIf="mostrarTarefa" >
       <li *ngFor="let tf of tec?.tarefas" class="bk-li">
        <div >
          <div (click)="modoEditarTarefa(tf)">
          <div class="div-prioridade-info" 
            [ngClass]="{'color-green': tf?.prioridade == 10, 'color-yellow': tf?.prioridade == 20, 'color-blue': tf?.prioridade == 30}">
          </div>  
          <strong>{{  tf?.os?.cliente?.nome  }}</strong><br>
          <strong>O.S.: {{ tf?.os?.numOs }}/{{tf?.os?.anoOs}} - {{ tf?.os?.local }}</strong>
          <p>{{ tf?.descricao }}</p>
        </div>
          <button type="button" class="btn btn-sm btn-danger"  pTooltip="Remove esta tarefa" tooltipPosition="right"
                (click)="removerTarefa(tf)" id="bt-remove">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </div>
       </li>
     </ul>

     <!--
     <div class="tarefa-line" *ngFor="let tf of tec?.tarefas">
      <div class="tarefa-line2">
          <button type="button" class="btn btn-sm btn-warning"  pTooltip="Edita esta tarefa" tooltipPosition="right"
            id="btn-edit-tarefa" (click)="modoEditarTarefa(tf)">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-sm btn-danger"  pTooltip="Remove esta tarefa" tooltipPosition="right"
                  (click)="removerTarefa(tf)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
          <p><b>CLIENTE:</b> {{ tf?.os?.cliente?.nome }}</p>
          <p><b> O.S.: {{ tf?.os?.numOs }}/{{tf?.os?.anoOs}}, {{ tf?.os?.local }} -></b>  {{ tf?.descricao }}</p>
        </div>
       <hr />
     </div>
     -->
   </div>


  <!--fecha container principal-->
</div>


<!-- form para adicionar nova tarefa e escolher a O.S -->
<p-dialog [header]="dialogTitulo" [(visible)]="dialogOn" [modal]="true" [style]="{width: '60vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false" [closable]="false">
    <div id="form-nova-tarefa">
      <button type="button" class="btn btn-sm btn-warning" (click)="cancelarAddOs()" id="btn-cancela"
      *ngIf="!osSelecinada">
        <i class="fa fa-ban" aria-hidden="true"></i>
         Cancelar
       </button>

     <span>Técnico: <b>{{ tecnicoSelecionado?.nome }} </b> </span>
     <hr />
     <div *ngIf="!osSelecinada">
       <div><label for="input-consulta-os">Consulta de O.S.</label></div>
       <input type="text" class="form-control form-control-sm" placeholder="Nº/ano ou parte da descrição da O.S." id="input-consulta-os"
          [(ngModel)]="param" name="consulta" (keyup)="keyup($event)"/>
       <button type="button"  class="btn btn-sm btn-primary" (click)="consultarOs()">
        <i class="fa fa-search" aria-hidden="true"></i>
         Consultar
       </button>

       <div class="tabela-os">
        <p-table [value]="oss" class="table table-striped table-bordered"
        [responsive]="true">
            <ng-template pTemplate="caption">
              {{ oss?.length }}  O.S. Encontradas
            </ng-template>

            <ng-template pTemplate="header">
             <tr *ngIf="oss?.length > 0">
                <th class="col-num">Nº O.S.</th>
                <th class="col-nomecli">Cliente</th>
                <th class="col-desc">Descrição</th>
                <th class="col-op center">Opção</th>
             </tr>
            </ng-template>

             <ng-template pTemplate="body" let-o>
               <tr class="linha">
                 <td>{{ o.numOs }}/{{ o.anoOs}}</td>
                 <td>{{ o.cliente.nome }}</td>
                 <td>{{ o.local }}</td>
                 <td class="col-op center">
                   <button type="button" class="btn btn-sm btn-success" (click)="selecionarOs(o)" >
                    <i class="fa fa-share" aria-hidden="true"></i>
                   </button>

                 </td>
               </tr>
              </ng-template>
        </p-table>
        </div>
       </div>

       <div *ngIf="osSelecinada">
         Ordem de serviço: <b>{{ osSelecinada.numOs}}/{{osSelecinada.anoOs}}, {{osSelecinada.local}}</b>
         <hr />
         <label for="descricao">Descrição:</label>
         <div>
           <textarea class="form-control form-control-sm"  [(ngModel)]="tarefa.descricao" name="descricao" maxlength="255">

           </textarea>
         </div>
         <span>Caracteres restantes  {{ 255 - tarefa?.descricao?.length }}</span>
         <div class="prioridades">

          <p-radioButton inputId="prioridade" name="prioridadeGroup" value="10" [(ngModel)]="tarefa.prioridade"></p-radioButton>
          <label for="prioridade" id="pri">Prioridade</label>
          <p-radioButton inputId="fila" name="prioridadeGroup" value="20" [(ngModel)]="tarefa.prioridade"></p-radioButton>
          <label for="fila" id="fi">Fila</label>
          <p-radioButton inputId="aguardando" name="prioridadeGroup" value="30" [(ngModel)]="tarefa.prioridade"></p-radioButton>
          <label for="aguardando" id="ag">Aguardando</label>

         </div>
         
        </div>

     <hr />
     <button type="button" class="btn btn-sm btn-warning" (click)="cancelarAddOs()" id="btn-cancela"
     *ngIf="osSelecinada">
       <i class="fa fa-ban" aria-hidden="true"></i>
        Cancelar
      </button>
     <button type="button" class="btn btn-sm btn-success" (click)="salvarTarefa()" *ngIf="osSelecinada">
      <i class="fa fa-floppy-o" aria-hidden="true"></i>
       Salvar
     </button>
    </div>
</p-dialog>




<!-- adicionar lembrete -->
<p-dialog [header]="dialogTituloLembrete" [(visible)]="dialogLembrete" [modal]="true" [style]="{width: '30vw'}" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false" [closable]="false">
    <div id="form-nova-tarefa">
      <label for="descricao">Descrição do lembrete:</label>
      <div>
        <textarea name="descricao" id="descricao" [(ngModel)]="lembrete.descricao"
          class="form-control form-control-sm"></textarea>
      </div>


     <hr />

     <button type="button" class="btn btn-sm btn-warning" (click)="cancelarAdicionarLembrete()" id="btn-cancela">
       <i class="fa fa-ban" aria-hidden="true"></i>
        Cancelar
      </button>
     <button type="button" class="btn btn-sm btn-success" (click)="salvarLembrete()">
      <i class="fa fa-floppy-o" aria-hidden="true"></i>
       Salvar
     </button>
    </div>
</p-dialog>



<!-- load-->
<div *ngIf="load" class="loadcss">
    <img src="./../../../assets/img/load2.gif">
 </div>
