/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;

}
 html, body {

  /*
  min-height: 100%;


  */
  height: 100%;
  margin: 0;
  padding: 0;
}
.text-black {
  color: black;
}

.container-principal-color {
  margin: 0;
  padding: 0;
  width: 100%;
  background: linear-gradient(to right, #000000, #0f9b0f);
  z-index: -10;
  background-size: cover;
  overflow: auto;
}

.footer {
  margin: 0;
  position: relative;
  width:100%;
   background-color: #343a40;
   height: 110px;
   clear: both;
   padding: 10px;
   color: black;
   font-size: 13px;
   text-align: center;
}

fieldset {
  background-color: #eeeeee;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.329);
}

.center {
  text-align: center;
}
.loadcss {
  position: fixed;
  width: 100%;
   height: 100%;
  /* background-color: rgba(15, 15, 15, 0.788);*/
  left: 0;
  padding: 0;
  bottom: 0;
  margin: 0;
  z-index: 10000;
}

.loadcss img {
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.has-danger {
  color:red;

}
.has-danger input {
  border: 1px solid red;
}

.bg-color {
  background: linear-gradient(to right, rgb(209, 230, 205), rgb(243, 245, 243));
  padding: 20px;
}
.bg-color-novo {
  background: linear-gradient(to right, #d8eef3, #8fddf7);
}
.bg-color-edit {
  background: linear-gradient(to right, rgb(245, 241, 205), rgb(247, 231, 95));
  padding: 20px;
}
.bottom-15 {
  margin-bottom: 15px;
}
.alturaMinima {
  min-height: 100vh;
}




