
<div class="container-licenca-cad-edit">

    <div class="row">
        <div class="col-12">
          <h5 id="titulo"> {{ titulo }} </h5>
        </div>
      </div>
    <hr />


    <form autocomplete="off">

     <div class="row">
       <div class="col-12 col-md-6">
          <label>Assunto*:</label>
          <input type="text" class="form-control form-control-sm" [(ngModel)]="licenca.assunto"
           placeholder="Assunto da licença" name="assunt" id="assuntod">
       </div>
       <div class="col-12 col-md-6">
         <div><label>Vencimento*:</label></div>
         <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050"
          [(ngModel)]="licenca.dataVencimento" [locale]="br.br" dateFormat="dd/mm/yy"
         [showIcon]="true" name="dtvenc" id="dtvenc"></p-calendar>
        </div>
     </div>

     <div class="row top20">
      <div class="col-12 col-md-6">
          <div><label>Inicio*:</label></div>
          <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050"
          [(ngModel)]="licenca.dataInicio" [locale]="br.br" dateFormat="dd/mm/yy"
          [showIcon]="true" name="dti" id="dtini" [maxDate]="licenca?.dataVencimento" ></p-calendar>
      </div>
      <div class="col-12 col-md-6">
          <div><label>Alerta*: </label> <p-checkbox [(ngModel)]="alerta" binary="true" name="alerta"></p-checkbox></div>
          <p-calendar [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2050"
          [(ngModel)]="licenca.dataAlerta" [locale]="br.br" dateFormat="dd/mm/yy"
          [showIcon]="true" name="dte" id="dtentrega" [disabled]="!alerta"></p-calendar>
        </div>
     </div>

     <div class="row top20">
       <div class="col-12 col-md-6">
         <label>Número da Licença*:</label>
         <input type="text" class="form-control form-control-sm text-uppercase" [(ngModel)]="licenca.numero"
         placeholder="Nº da Licença" name="numorc" id="input-numero">
       </div>
    </div>

     <div class="row top20">
       <div class="col-12">
         <div>Observação:</div>
         <div><textarea rows="3" cols="48" name="obs" [(ngModel)]="licenca.obs"></textarea></div>
         <div><label>Caracteres restantes {{ 255 - licenca?.obs?.length }}</label></div>
       </div>
     </div>

     <hr />

    <div class="row">
      <div class="col-12">

        <button pButton label="Salvar" icon="fa fa-floppy-o" id="btnSalvar"
          class="ui-button-success" (click)="salvar()"></button>
       <button pButton label="Voltar" icon="fa fa-arrow-left" id="btnCancelar"
          (click)="cancelar()" class="ui-button-info"></button>

      </div>
    </div>

    </form>
    <hr />



  <!-- fecha container -->
</div>





<div *ngIf="load" class="loadcss">
    <img src="./../../../assets/img/load2.gif">
 </div>
